body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#landing {
    text-align: center;
    padding: 20px;
}

.center-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
/* ... (your existing styles) */

/* Logo styles */
.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px; /* Adjust the width and height as needed */
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
}

.logout-button {
    display: none; /* Initially hide the logout button */
    background-color: #f00; /* Red color for the logout button */
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ... (your existing styles) */
